SUPABASE_URL=https://ynasymehleqjkucftrcr.supabase.co
SUPABASE_KEY=sb_publishable_gNKZ1RmkUgCJAVqaZai2hg_6v-6G...
SICARF_CPF=15310783709
SICARF_SENHA=escritorio2021
SYNC_SECRET=cria-uma-senha-forte-aqui
